:root {
  --background-color: #1f2937;
  --hero-main-text-color: #f9faf8;
  --heroHeader-secondary-text-color: #e5e7eb;
  --header-logo-text-color: #f9faf8;
  --buttonCalltoaction-color: #3882f6;
  --information-header-text-color: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  border: 1px dotted red;
}

html {
  font: 18px "Roboto", sans-serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

nav {
  background-color: var(--background-color);
}
