:root {
  --background-color: #1f2937;
  --hero-main-text-color: #f9faf8;
  --heroHeader-secondary-text-color: #e5e7eb;
  --header-logo-text-color: #f9faf8;
  --buttonCalltoaction-color: #3882f6;
  --information-header-text-color: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px dotted red;
}

/* General */
a, ul {
  text-decoration: none;
  list-style-type: none;
  color: var(--heroHeader-secondary-text-color);
}

button {
  width: max-content;
  padding: 0 32px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: var(--hero-main-text-color);
  background-color: var(--buttonCalltoaction-color);
}
/* ---- */

html {
  font: 18px 'Roboto', sans-serif;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 200px;
  background-color: var(--background-color);

}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--header-logo-text-color);
}

nav > ul {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.hero {
  width: 100%;
  flex: 1 0 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
  background-color: var(--background-color);
}

.left-hero {
  flex: 1;
  height: 50%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 32px;
}

.left-hero > h1 {
  flex: 3;
  color: var(--hero-main-text-color);
  font-weight: bolder;
  font-size: 48px;
}

.left-hero > p {
  flex: 2;
  font-size: 18px;
  color: var(--heroHeader-secondary-text-color);
  margin: 8px 0;
}

.left-hero > button {
  flex: 1;
}

.img-placeholder {
  flex: 1;
  text-align: center;
  background-color: #555f6e;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--heroHeader-secondary-text-color)
}

.info {
  flex: 1 0 425px;
  padding: 0 200px;
  width: 100%;
}

.info > h2 {
  width: max-content;
  margin: 32px auto;
  font-size: 36px;
  font-weight: bolder;
  color: var(--information-header-text-color);
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 48px;
}

.card {
  width: 200px;
  height: 300px;
  text-align: center;
}

.card-img {
  width: 150px;
  height: 150px;
  margin: 0 auto 8px;
  border: 2px solid var(--buttonCalltoaction-color);
  border-radius: 12px;
}

.quote {
  flex: 1 0 375px;
  width: 100%;
  padding: 0 200px;
  background-color: var(--quote-background-color);
  color: var(--quote-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

blockquote {
  width: 75%;
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

figcaption {
  width: 40%;
  margin: 16px 0 0 auto;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  text-align: right;
}
