:root {
  --background-color: #1f2937;
  --hero-main-text-color: #f9faf8;
  --heroHeader-secondary-text-color: #e5e7eb;
  --header-logo-text-color: #f9faf8;
  --buttonCalltoaction-color: #3882f6;
  --information-header-text-color: #1f2937;
  --quote-background-color: #e5e7eb;
  --quote-text-color: #1f2937;
}
